{% extends "template.html.twig" %}

{% block body %}
    {{ parent() }}

    <div class="welcome-panel">
        Please add this on the page the you need to add the Retailer Latitude.
        <pre>
       [manara_business_locator][/manara_business_locator]
        </pre>
    </div>


{% endblock body %}